$font-size: 50px;
$black: #0e0e10;
$second-black: #1f1f23;
$white: #fff;
$purple: #8028FF;
$second-black: #1f1f23;
$dark-purple: #240940;
$pink: #6a00f4;
$red: #F23D4C;
$grey: #ECF0F1;
$grey-2: darken($grey, 40%);
$grey-3: lighten($grey, 3%);

/*Font colors*/
$color-primary: $white;

/*shadows*/
$sd-primary: rgb(0 0 0 / 8%) 0px 0.2rem 0.2rem;

/*Radius*/
$br-6: .29rem;
