@import '../abstracts/variables';
@import '../abstracts/mixins';

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.header {
    
  &__title {
      font-size: 2.4rem;
      color: $purple;
      font-weight: 600;
      margin-bottom: .5rem
  }
  
}

.main {
  @extend %container;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}


.search__holder {
  background: $second-black;
  width: 50%;
  padding: 1.2rem;
  border-radius: $br-6;
  box-shadow: $sd-primary;



  h2 {
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 600;
  }

  @media(max-width: 600px) {
      width: 100%;
  }

}

.error__flag {
    @extend %error-flag;
    text-align: center;
}

.card__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


